@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html,
    body {
        @apply min-h-screen h-screen flex flex-col;
    }

    main {
        @apply flex-grow;
    }

    h1 {
        @apply text-2xl my-4;
    }

    h2 {
        @apply text-xl my-4;
    }

    p {
        @apply mt-4;
    }

    ul,
    ol {
        @apply list-inside mt-4 px-4;
    }

    ul {
        @apply list-disc;
    }

    ol {
        @apply list-decimal;
    }

    nav {
        @apply py-4;
    }

    nav ul {
        @apply list-none mt-0;
    }

    a {
        @apply p-0.5
            underline decoration-emerald-500/70
            hover:no-underline
            border border-transparent
            hover:border-emerald-500/70
            hover:bg-emerald-500/10;
    }

    hr {
        @apply my-6 mx-4;
    }
}

@layer components {
    .page-content {
        @apply bg-gradient-to-b from-transparent via-purple-100/50 to-purple-100/50 p-4;
    }

    .page-title {
    }
 }

@layer utilities {
    .filter-none {
        filter: none;
    }

    .filter-grayscale {
        filter: grayscale(104%);
    }

    .switchboard-bg {
        background-image: url("/img/background.svg");
        background-size: 200px;
        background-color: hsla(145, 5%, 80%);

        @apply bg-repeat;
    }
}
