@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html,
    body {
        @apply min-h-screen max-w-full w-full flex flex-col;
    }

    main {
        @apply flex-grow;
    }

    h1 {
        @apply text-xl py-4;
    }

    h2 {
        @apply text-lg pt-4;
    }

    h3 {
        @apply pt-4;
    }

    h4 {
        @apply text-sm pt-4;
    }

    p {
        @apply pt-4;
    }

    ul,
    ol {
        @apply list-inside mt-4 px-4;
    }

    ul {
        @apply list-disc;
    }

    ol {
        @apply list-decimal;
    }

    nav {
        @apply py-4;
    }

    nav ul {
        @apply list-none mt-0 flex items-center justify-start gap-x-2 w-full;
    }

    a {
        display: inline-block;

        @apply
            text-blue-700
            px-0.5
            underline decoration-blue-700
            underline-offset-2
            hover:decoration-blue-600
            hover:text-blue-600
            hover:bg-blue-600/10
            dark:text-blue-500
            dark:decoration-blue-500;
    }

    strong {
        @apply font-bold;
    }

    hr {
        @apply my-6 mx-4;
    }

    footer {
    }

    /*
     * Fonts
     */
    :root {
        font-size: 26px;
    }

    body {
        @apply font-sans font-extralight text-slate-700 dark:text-slate-400;
    }

    h1, h2, h3, h4, h5, h6 {
        @apply font-serif font-semibold;
    }

    footer {
        @apply text-sm;
    }

    @font-face {
        font-family: '"Andada Pro"';
        src: url("/fonts/AndadaPro/AndadaPro-VariableFont_wght.ttf") format("truetype");
    }

    @font-face {
        font-family: Jost;
        src: url("/fonts/Jost/Jost-VariableFont_wght.ttf") format("truetype");
    }
}

@layer components {
    .bubble-container {
        @apply flex flex-col bg-purple-100/60 rounded-md m-4 dark:bg-slate-800/95;

        & section {
            @apply flex-grow p-4;
        }
    }

    .page-title {
        @apply w-full p-4 pb-0;
    }

    .nav-logo {
        width: 2rem;
        height: auto;

        @apply dark:hidden;

        &.nav-logo-dark {
            width: 2rem;
            height: auto;

            @apply hidden dark:block;
        }
    }

    .btn-theme {
        @apply border border-slate-500 text-slate-500 rounded-xl px-1 text-center pb-0.5;

        & img {
            width: 1rem;
            height: auto;

            @apply inline;
        }
    }
}

@layer utilities {
    .filter-none {
        filter: none;
    }

    .filter-grayscale {
        filter: grayscale(104%);
    }

    .switchboard-bg {
        background-image: url("/img/background.svg");
        background-size: 200px;
        background-color: hsla(145, 5%, 80%);

        @apply bg-repeat dark:bg-slate-700;
    }
}
