{{ define "main" }}
<h1 class="page-title">Yes Operator is on the line!</h1>
<section>
    <p>Do you feel lost on your programming journey? Join Yes Operator as
    we <strong>explore and learn together</strong>.</p>
    <p>This is not another tutorial site or a paid course with big
    promises. Yes Operator is a place to <strong>talk and listen</strong> to voices of
    others who struggle and aspire just like you. Let your peers be your guide.</p>
    <p>Find Yes Operator <strong>live</strong> on <a href="{{ relref . "/pages/where" }}">YouTube and Twitch</a> regularly.</p>
</section>
{{ end }}
