{{ define "main" }}
<h1 class="page-title">Yes&nbsp;Operator is on the line!</h1>
<section>
    <p>Do you feel lost on your programming journey? Join&nbsp;Yes&nbsp;Operator as
    we <strong>explore and learn together</strong>.</p>
    <p>This is not another tutorial site or a paid course with big
    promises. Yes&nbsp;Operator is a place to <strong>talk and listen</strong> to voices of
    others who struggle and aspire just like you.</p>
    <p>Find Yes&nbsp;Operator <strong>live</strong> on <a href="{{ relref . "/pages/where" }}">YouTube and Twitch</a> regularly.</p>
</section>
{{ end }}
