{{ define "main" }}
<h1 class="page-title">Yes&nbsp;Operator is on the line!</h1>
<section>
    <p>Feel lost on your programming journey? Join&nbsp;Yes&nbsp;Operator as
    we <strong>explore and learn together</strong>.</p>
    <p>Yes&nbsp;Operator is not another tutorial site or a paid course with big
    promises. This is a place to <strong>talk and listen</strong> to voices of
    others who struggle and aspire just like you.</p>
    <p>Find Yes&nbsp;Operator <strong>live</strong> on <a href="{{ relref . "/pages/where" }}">YouTube and Twitch</a> regularly.</p>
    <p>Want to call in? <a href="{{ relref . "/pages/contact" }}">Send me a message</a> and let's set something up!</p>
</section>
{{ end }}
