<nav>
    <ul>
        <li>
            <a href="/">
                <img src="/img/opie.svg" alt="Yes Operator Logo" class="nav-logo" />
                <img src="/img/opie-dark.svg" alt="Yes Operator Logo" class="nav-logo nav-logo-dark" />
            </a>
        </li>
        <li><a href="/" class="">Yes Operator</a></li>
        <li><a href="{{ relref . "/pages/how" }}">How</a></li>
        <li><a href="{{ relref . "/pages/where" }}">Where</a></li>
        <li><a href="{{ relref . "/pages/why" }}">Why</a></li>
        <li><a href="{{ relref . "/pages/contact" }}">Contact</a></li>
        <li class="flex-grow"></li>
        <li>{{ partial "components/theme_switch_button.html" }}</li>
    </ul>
</nav>
