<head>
    <title>{{ .Title }}</title>
    <link rel="icon" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" sizes="16x16" href="/favicon-16x16.png" />
    {{ $css := resources.Get "css/tw-output.css" }}

    {{ if .Site.IsServer }}
    <link rel="stylesheet" href="{{ $css.RelPermalink }}">
    {{ else }}
    {{ $css := $css | resources.PostCSS (dict "outputStyle" "compressed") | fingerprint }}
    {{/* TODO Use this once we have baseURL setup properly */}}
    {{/* <link rel="stylesheet" href="{{ $css.Permalink }}" integrity="{{ $css.Data.Integrity }}"> */}}
    <link rel="stylesheet" href="{{ $css.RelPermalink }}" integrity="{{ $css.Data.Integrity }}">
    {{ end }}

    <script type="text/javascript">
     // Adapted from https://tailwindcss.com/docs/dark-mode
     // On page load or when changing themes, best to add inline in `head` to avoid FOUC
     function setTheme(isDark) {
         if (isDark) {
             document.documentElement.classList.add('dark');
             localStorage.theme = 'dark';
             window.darkTheme = true;
         } else {
             document.documentElement.classList.remove('dark');
             localStorage.theme = 'light';
             window.darkTheme = false;
         }
     }

     setTheme(localStorage.theme === 'dark' ||
         (!('theme' in localStorage) &&
          window.matchMedia('(prefers-color-scheme: dark)').matches));

     window.addEventListener('load', () => {
         document.querySelectorAll('[data-btn-toggle-dark-mode]').forEach((el) => {
             console.log(el);
             el.addEventListener('click', () => setTheme(! window.darkTheme));
         })
     })
    </script>
</head>
